

          <form class="form-horizontal">
            <div class="form-group">
              <label for="country" class="col-sm-2 control-label">Country</label>
              <div class="col-sm-10">
                <select class="form-control" id="country" name="country">
                  <option <%= 'selected="selected"' if params['country'].to_i == 'BE' %>>BE</option>
                  <option <%= 'selected="selected"' if params['country'] == 'BR' %>>BR</option>
                  <option <%= 'selected="selected"' if params['country'] == 'GB' %>>GB</option>
                  <option <%= 'selected="selected"' if params['country'] == 'US' %>>US</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="month" class="col-sm-2 control-label">Month</label>
              <div class="col-sm-10">
                <select class="form-control" id="month" name="month">
                  <option value="1" <%= 'selected="selected"' if params['month'].to_i == 1 %>>January</option>
                  <option value="2" <%= 'selected="selected"' if params['month'].to_i == 2 %>>February</option>
                  <option value="3" <%= 'selected="selected"' if params['month'].to_i == 3 %>>March</option>
                  <option value="4" <%= 'selected="selected"' if params['month'].to_i == 4 %>>April</option>
                  <option value="5" <%= 'selected="selected"' if params['month'].to_i == 5 %>>May</option>
                  <option value="6" <%= 'selected="selected"' if params['month'].to_i == 6 %>>June</option>
                  <option value="7" <%= 'selected="selected"' if params['month'].to_i == 7 %>>July</option>
                  <option value="8" <%= 'selected="selected"' if params['month'].to_i == 8 %>>August</option>
                  <option value="9" <%= 'selected="selected"' if params['month'].to_i == 9 %>>September</option>
                  <option value="10" <%= 'selected="selected"' if params['month'].to_i == 10 %>>October</option>
                  <option value="11" <%= 'selected="selected"' if params['month'].to_i == 11 %>>November</option>
                  <option value="12" <%= 'selected="selected"' if params['month'].to_i == 12 %>>December</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="date" class="col-sm-2 control-label">Date</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="date" name="date" placeholder="Year" value=<%= @params['date'] %> />
              </div>
            </div>
            <button type="submit">Push this shit</button>
          </form>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <% if @holidays.any? %>
                <% @holidays.each do |holiday| %>
                  <%= holiday[0]["name"] %><br>
                <% end %>
              <% else %>
                <p>Gotta submit a form first bruh </p>
              <% end %>


            </div>
          </div>
